<section class="about" id="about">
  <div class="container">
    <div class="about__why">
      <div class="about__why-image">
        <img src="/assets/images/pic/IMG-1.jpg" alt="About placeholder">
      </div>

      <div class="about__why-text">
        <h3 class="about__why-title" revealOnScroll>{{ 'about.title' | translate }}</h3>

        <p revealOnScroll [delay]="200">
          {{ 'about.intro' | translate }}
        </p>

        <ul class="about__facts" revealOnScroll [revealStartClass]="'reveal-left-start'"
          [revealClass]="'reveal-left-in'" [delay]="400">
          <li class="iam">{{ 'about.iam' | translate }}</li>
          <li class="fact-item loc">
            <div class="locate-img-wrap">
              <img src="/assets/images/locate.png" alt="Location" class="locate-img" />
            </div>
            <span>{{ 'about.location' | translate }}</span>
          </li>

          <img class="arrow arrow-to-remote" src="/assets/images/Arrow_5.png" alt="arrow to remote" />

          <li class="fact-item remote">
            <div class="remote-img-wrap">
              <img src="/assets/images/remote2.png" alt="Remote" class="remote-img" />
            </div>
            <span>{{ 'about.remote' | translate }}</span>
          </li>

          <img class="arrow arrow-to-button" src="/assets/images/Arrow_01.png" alt="arrow to button" />
        </ul>

        <a class="btn btn-primary border-none cta talk" href="#contact" revealOnScroll
          [revealStartClass]="'reveal-right-start'" [revealClass]="'reveal-right-in'" [delay]="1000">
          {{ 'about.cta' | translate }}
        </a>

      </div>
    </div>
  </div>
</section>
