.toast-wrap {
  position: fixed;
  inset: auto 16px 16px 16px;
  display: grid;
  gap: 8px;
  z-index: 9999;
  pointer-events: none;
}

@media (min-width: 640px) {
  .toast-wrap {
    left: auto;
    width: 360px;
  }
}

.toast {
  pointer-events: auto;
  background: #111;
  color: #fff;
  border-radius: 10px;
  padding: 12px 14px 12px 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .35);
  display: grid;
  grid-template-columns: 6px 1fr;
  gap: 12px;
  align-items: center;
  overflow: hidden;
  animation: slideIn .25s ease-out;
}

// success
.toast.s {
  box-shadow: 0 0 16px var(--greenColor);
}

// error
.toast.e {
  box-shadow: 0 0 16px var(--redColor);
}

.toast__bar {
  width: 6px;
  align-self: stretch;
  background: #3b82f6;
}

.toast__bar.s {
  background: var(--greenColor);
}

.toast__bar.e {
  background: var(--redColor);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(12px)
  }

  to {
    opacity: 1;
    transform: none
  }
}