<header class="navbar">
  <div class="container myHead">
    <div class="flex justify-between gap-5">
      <!-- Logo -->
      <a class="logo pointer" routerLink="/">
        &lt;MA&gt;
      </a>

      <!-- Desktop-Navigation -->
      <nav class="desktop-nav">
        <a (click)="goToSection('about')">{{ 'header.whyme' | translate }}</a>
        <a (click)="goToSection('skills')">{{ 'header.skills' | translate }}</a>
        <a (click)="goToSection('projects')">{{ 'header.projects'| translate }}</a>
        <a (click)="goToSection('contact')">{{ 'header.contact' | translate }}</a>
      </nav>
    </div>

    <!-- Desktop Buttons -->
    <div class="buttons desktop-buttons gap-1">
      <a class="github" href="#" (click)="set('de')" [class.active]="cur==='de'">{{ 'header.langDe' | translate }}</a>
      <div>|</div>
      <a class="live" href="#" (click)="set('en')" [class.active]="cur==='en'">{{ 'header.langEn' | translate }}</a>
    </div>

    <!-- Burger (only Mobile) -->
    <button class="burger" aria-label="Toggle navigation" (click)="isMenuOpen = !isMenuOpen">
      <span></span><span></span><span></span>
    </button>
  </div>

  <!-- Mobile Overlay Menu -->
  <div class="mobile-menu" [class.open]="isMenuOpen" role="dialog" aria-modal="true">
    <button class="close" aria-label="Close menu" (click)="isMenuOpen=false">
      <span></span><span></span>
    </button>

    <nav class="mobile-nav" (click)="$event.stopPropagation()">
      <a (click)="goToSection('about')">{{ 'header.whyme' | translate }}</a>
      <a (click)="goToSection('skills')">{{ 'header.skills' | translate }}</a>
      <a (click)="goToSection('projects')">{{ 'header.projects' | translate }}</a>
      <a (click)="goToSection('contact')">{{ 'header.contact' | translate }}</a>

      <div class="lang">
        <a (click)="set('de')" [class.active]="cur==='de'">{{ 'header.langDe' | translate }}</a>
        <span>|</span>
        <a (click)="set('en')" [class.active]="cur==='en'">{{ 'header.langEn' | translate }}</a>

      </div>
    </nav>
  </div>
</header>