* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-black: rgba(0, 0, 0);
  --bg-grey: rgba(40, 40, 40);
  --redColor: #E15544;
  --greenColor: #009639;
  --transition125: 0.125s;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: var(--redColor);
  background: linear-gradient(165deg,
      var(--bg-black) 10%,
      var(--bg-grey) 40%,
      var(--bg-black) 60%,
      var(--bg-black) 80%,
      var(--bg-grey) 110%);
}

@media (min-width: 768px) and (max-width: 826px) {
  .container {
    max-width: 646px !important;
  }
}

main {
  margin-top: 100px;
}

.pointer {
  cursor: pointer !important;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Chrome / Edge / Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  /* Text-/Caret-Color */
  -webkit-text-fill-color: var(--greenColor);
  caret-color: var(--greenColor);

  /* delete white background */
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;

  transition: background-color 9999s ease, color 9999s ease;
}

/* Firefox */
input:-moz-autofill,
textarea:-moz-autofill {
  box-shadow: 0 0 0 1000px transparent inset;
  -moz-text-fill-color: var(--greenColor);
  caret-color: var(--greenColor);
}

::selection {
  background: rgba(255, 255, 255, 0.3);
  color: whitesmoke;
}