.projects {
  margin-top: 32px;
  padding-block: clamp(var(--section-pad-min), var(--section-pad-fluid), var(--section-pad-max));

  .projects__title {
    text-align: center;
    font-size: clamp(32px, 6vw, 54px);
    font-weight: 800;
    margin-bottom: 48px;
    color: var(--redColor);
  }

  .projects__grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media (max-width: 992px) {
    .projects__grid {
      gap: 16px;
    }
  }
}
